<div class="row my-5">
  <div class="col-12">
    <div class="container bg-light py-4 rounded-4 shadow">
      <div id="about">
        <div class="d-flex justify-content-center">
          <h2><i class="fa-regular fa-face-smile"></i> About</h2>
        </div>
        <div class="d-flex justify-content-center mb-5">
          <p>Welcome to my portfolio. My name is <strong>Lu Yee</strong>. I am a <strong>web developer</strong> based in Tokyo, Japan but originally from Malaysia🇲🇾<br>
            <br>
            Ruby on Rails || JavaScript || HTML || CSS/SCSS</p>
        </div>
      </div>
    </div>
  </div>
</div>
