<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-center align-items-center h-100">
    <h1 class="title-main">Luyee's Portfolio</h1>
  </div>
</div>
