<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-around align-items-center">
    <p class="text-light"></p>
    <p id="element" class="banner-text text-light"></p>
  </div>
</div>
