<div class="row justify-content-center align-items-center banner">
  <div>
    <h1 class="neonText banner-title">Welcome</h1>
    <h2 class="neonText mt-5 banner-subtitle">I am Luyee, a web developer</h2>
    <div class='arrow bounce mt-5'><i class='fa fa-arrow-down'></i></div>
    <%# <p class="text-light"></p>
    <p id="element" class="banner-text text-light"></p> %>
  </div>
</div>
