<div class="row justify-content-center banner">
  <div class="aboutme-parent col-12 d-flex flex-column justify-content-center align-items-center">
    <div class="aboutme p-3 bg-light rounded-4">
      <h2><i class="fa-regular fa-face-smile"></i> About Me</h2>
      <p class="mb-0">Hey there 👋 Welcome to my portfolio.</p>
      <p class="mb-0">My name is <strong>Lu Yee</strong> and I'm a <strong>web developer</strong> based in Tokyo, Japan but originally from Malaysia🇲🇾</p>
      <p class="mb-0">I love and am obsessed with coding.</p>
      <p class="mb-0">I started my coding journey out of curiousity, watching some tutorial videos on YouTube. After falling in love immediately I'm pursuing it as a career.</p>
      <p class="mb-0">To me, coding is like solving puzzles and I love solving puzzles! (I can do Sudokus and fiddle with a Rubik's Cube all day)</p>
      <p>I hope you enjoy my website!</p>
      <p>My skillsets: <strong>Ruby on Rails</strong> || <strong>JavaScript</strong> || <strong>HTML</strong> || <strong>CSS/SCSS</strong></p>
    </div>
  </div>
</div>
