<div class="row justify-content-center banner">
  <div class="col-12 mt-5 d-flex flex-column justify-content-center align-items-center">
    <div class="d-flex justify-content-center align-items-center">
      <div class="aboutme p-3 bg-light rounded-4">
        <h2><i class="fa-regular fa-face-smile"></i> About Me</h2>
        <p class="mb-0">Hey there 👋 Welcome to my portfolio.</p>
        <p class="mb-0">My name is <strong>Lu Yee</strong>. I am a <strong>web developer</strong> based in Tokyo, Japan but originally from Malaysia🇲🇾</p>
        <p class="mb-0">I love and obsess about coding.</p>
        <p class="mb-0">I started my coding journey out of curious by watching some tutorial videos on YouTube, however I fall in love immediately.</p>
        <p class="mb-0">So I decided to pursue it as a career.</p>
        <p class="mb-0">To me, coding is like solving puzzle and I love solving puzzle! (I can play Sudoku and rubik cube for all day)</p>
        <p>Hope you enjoy my website!</p>
        <p>My skillsets: <strong>Ruby on Rails</strong> || <strong>JavaScript</strong> || <strong>HTML</strong> || <strong>CSS/SCSS</strong></p>
      </div>
    </div>
  </div>
</div>
