<div class="row justify-content-center banner">
  <div class="col-12 d-flex flex-column justify-content-around align-items-center">
    <p class="banner-text text-light"></p>
    <p class="banner-text text-light">Hi I'm Luyee. A web developer</p>
  </div>
</div>
