<div class="row justify-content-center align-items-center banner">
  <div>
  <%# Credit: https://css-tricks.com/how-to-create-neon-text-with-css/ %>
    <div id="element"></div>
    <%# <h1 class="neon-text banner-title">Welcome</h1>
    <h2 id="element" class="neon-text mt-5 banner-subtitle">I am Luyee, a web developer</h2>
    <div class='arrow bounce mt-5'><i class='fa fa-arrow-down'></i></div> %>
  </div>
</div>
