<!-- Banner Section -->
<%= partial 'partials/banner' %>
<div class="container">
  <!-- Projects Section -->
  <%= partial 'partials/projects' %>
  <!-- Social Links Section -->
  <%= partial 'partials/social' %>
</div>
